// Aurora Theme Variables

// General colors
@syntax-text-color: #c0caf5;
@syntax-cursor-color: #7aa2f7;
@syntax-selection-color: #283457;
@syntax-selection-flash-color: #7aa2f7;
@syntax-background-color: #1a1b26;

// Guide colors
@syntax-wrap-guide-color: #565f89;
@syntax-indent-guide-color: #565f89;
@syntax-invisible-character-color: #565f89;

// For find and replace markers
@syntax-result-marker-color: #7aa2f7;
@syntax-result-marker-color-selected: #c0caf5;

// Syntax colors
@syntax-comment-color: #565f89;
@syntax-string-color: #9ece6a;
@syntax-number-color: #ff9e64;
@syntax-keyword-color: #9d7cd8;
@syntax-function-color: #7aa2f7;
@syntax-type-color: #2ac3de;
@syntax-class-color: #2ac3de;
@syntax-variable-color: #bb9af7;
@syntax-parameter-color: #e0af68;
@syntax-operator-color: #89ddff;

// Git colors
@syntax-git-new: #9ece6a;
@syntax-git-modified: #7aa2f7;
@syntax-git-removed: #f7768e;

// For language entity colors
@syntax-color-renamed: #7aa2f7;
@syntax-color-added: #9ece6a;
@syntax-color-modified: #e0af68;
@syntax-color-removed: #f7768e;
